<section class="section">
    <div class="katz-container">
        <div class="inner-content">
            <h2 class="font-title hidden-xs-down">Peace of Mind</h2>
            <div class="text-content">
                <div class="row">
                    <div class="col-md-6">
                        <p class="font-content p-content">Katz Architecture is committed to giving every client the best experience possible, through responsive and open communication, wide-ranging expertise, and a thorough, detail-oriented process.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>