<section class="section" id="peace-of-mind-team">
    <div class="katz-container">
        <div class="inner-content">
            <h2 class="font-title">Team</h2>
            <div class="team-content">
              

                <div class="row">
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/peace-of-mind-team/01.png" alt=""
                    class="img-fluid team-member-image item-detail img-filter" 
                    data-target="detail"
                    data-detail-item="0">
                    <div class="detail-tooltip">
                      David Katz <br>
                      Director
                    </div>
                  </div>

                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/peace-of-mind-team/02.png" alt="" 
                    class="img-fluid team-member-image item-detail img-filter" 
                    data-target="detail"
                    data-detail-item="1">
                    <div class="detail-tooltip">
                      David Katz <br>
                      Director
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/peace-of-mind-team/03.png" alt=""
                    class="img-fluid team-member-image item-detail img-filter" 
                    data-target="detail"
                    data-detail-item="2">
                    <div class="detail-tooltip">
                      David Katz <br>
                      Director
                    </div>
                  </div>

                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/peace-of-mind-team/04.png" alt=""
                    class="img-fluid team-member-image item-detail img-filter" 
                    data-target="detail"
                    data-detail-item="3">
                    <div class="detail-tooltip">
                      David Katz <br>
                      Director
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/peace-of-mind-team/05.png" alt=""
                    class="img-fluid team-member-image item-detail img-filter"
                    data-target="detail"
                    data-detail-item="4">
                    <div class="detail-tooltip">
                      David Katz <br>
                      Director
                    </div>
                  </div>

                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/peace-of-mind-team/06.png" alt=""
                    class="img-fluid team-member-image item-detail img-filter" 
                    data-target="detail"
                    data-detail-item="5">
                    <div class="detail-tooltip">
                      David Katz <br>
                      Director
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/peace-of-mind-team/07.png" alt=""
                    class="img-fluid team-member-image item-detail img-filter" 
                    data-target="detail"
                    data-detail-item="6">
                    <div class="detail-tooltip">
                      David Katz <br>
                      Director
                    </div>
                  </div>

                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/peace-of-mind-team/08.png" alt=""
                    class="img-fluid team-member-image item-detail img-filter" 
                    data-target="detail"
                    data-detail-item="7">
                    <div class="detail-tooltip">
                      David Katz <br>
                      Director
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/peace-of-mind-team/09.png" alt=""
                    class="img-fluid team-member-image item-detail img-filter" 
                    data-target="detail"
                    data-detail-item="8">
                    <div class="detail-tooltip">
                      David Katz <br>
                      Director
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/peace-of-mind-team/10.png" alt=""
                    class="img-fluid team-member-image item-detail img-filter" 
                    data-target="detail"
                    data-detail-item="9">
                    <div class="detail-tooltip">
                      David Katz <br>
                      Director
                    </div>
                  </div>
                  
              </div>
            </div>
        </div>
    </div>
</section>