<section class="section" id="peace-of-mind-about">
    <div class="katz-container">
        <div class="inner-content">
            <h2 class="font-title">About</h2>
            <div class="text-content">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="font-subtitle">Lorem Ipsum</h3>
                        <p class="font-content p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error soluta quibusdam sunt laudantium eveniet blanditiis quis reiciendis, corporis? Vitae consequuntur magnam id totam. Cumque molestiae, quae fugiat nihil eligendi ad!</p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="font-subtitle">Lorem Ipsum</h3>
                        <p class="font-content p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo voluptate provident maiores, enim veniam eos facere repudiandae, non magni, fugit magnam est molestias unde consequatur! Voluptas alias est quos sint.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include utils/down-arrow.html img-color="blue"  %}
</section>