<section class="section" id="peace-of-mind-about">
    <div class="katz-container">
        <div class="inner-content">
            <h2 class="font-title">About</h2>
            <div class="text-content">
                <div class="row">
                    <div class="col-md-4">
                        <p class="font-content p-content">Katz Architecture was founded in 19TK guided by one fundamental principle—that everyone deserves to love where they live, work, & play. </p>
                        <p class="font-content p-content">Over the last TK years we have transformed residential lofts, historic hotel lobbies, SoHo showrooms and more, always working to make our clients happy. </p>
                        <p class="font-content p-content">But it’s not just about transformation — Katz Architecture also works as a partner to building managers, design professionals, and city agencies to ensure the ongoing integrity of our built environment.</p>
                    </div>
                    <div class="col-md-4">
                        <a class="font-subtitle link-disabled" href="#" data-target="#carousel5" data-slide-to="2">About The Firm</a>
                        <br>
                        <a class="font-subtitle" href="#" data-target="#carousel5" data-slide-to="3">Team</a>
                        <br>
                        <a class="font-subtitle link-to" href="#" data-target="contact">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include utils/down-arrow.html img-color="blue"  %}
</section>