<section class="section" id="peace-of-mind-team">
    <div class="katz-container">
        <div class="inner-content">
            <h2 class="font-title">Team</h2>
            <div class="team-content">
                <div class="row">
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="img-fluid team-member-image">
                    <div class="team-member-name">David Katz</div>
                    <div class="team-member-role">Founder</div>
                  </div>

                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member02.png" alt="David Katz" class="img-fluid team-member-image">
                    <div class="team-member-name">Lucille Weaver</div>
                    <div class="team-member-role">Senior Designer</div>
                  </div>
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member03.png" alt="David Katz" class="img-fluid team-member-image">
                    <div class="team-member-name">Calvin Owens</div>
                    <div class="team-member-role">Strategy</div>
                  </div>

                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member04.png" alt="David Katz" class="img-fluid team-member-image">
                    <div class="team-member-name">Gussie Santos</div>
                    <div class="team-member-role">Manager</div>
                  </div>
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member05.png" alt="David Katz" class="img-fluid team-member-image">
                    <div class="team-member-name">Anthony Kelley</div>
                    <div class="team-member-role">Lorem</div>
                  </div>

                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member06.png" alt="David Katz" class="img-fluid team-member-image">
                    <div class="team-member-name">Mayme Hopkins</div>
                    <div class="team-member-role">Dolores</div>
                  </div>
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member07.png" alt="David Katz" class="img-fluid team-member-image">
                    <div class="team-member-name">David Katz</div>
                    <div class="team-member-role">Founder</div>
                  </div>

                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member08.png" alt="David Katz" class="img-fluid team-member-image">
                    <div class="team-member-name">Lucille Weaver</div>
                    <div class="team-member-role">Senior Designer</div>
                  </div>
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member09.png" alt="David Katz" class="img-fluid team-member-image">
                    <div class="team-member-name">Calvin Owens</div>
                    <div class="team-member-role">Strategy</div>
                  </div>
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member10.png" alt="David Katz" class="img-fluid team-member-image">
                    <div class="team-member-name">Gussie Santos</div>
                    <div class="team-member-role">Strategy</div>
                  </div>
                  
              </div>
            </div>
        </div>
    </div>
    {% include utils/down-arrow.html img-color="blue"  %}
</section>