<section class="section" id="peace-of-mind-team">
    <div class="katz-container">
        <div class="inner-content">
            <h2 class="font-title">Team</h2>
            <div class="team-content">
                <div class="row">
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt=""
                    class="img-fluid team-member-image item-detail" 
                    data-target="detail"
                    data-detail-item="01">
                  </div>

                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member02.png" alt="" 
                    class="img-fluid team-member-image item-detail" 
                    data-target="detail"
                    data-detail-item="02">
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member03.png" alt=""
                    class="img-fluid team-member-image item-detail" 
                    data-target="detail"
                    data-detail-item="03">
                  </div>

                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member04.png" alt=""
                    class="img-fluid team-member-image item-detail" 
                    data-target="detail"
                    data-detail-item="04">
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member05.png" alt=""
                    class="img-fluid team-member-image item-detail" 
                    data-target="detail"
                    data-detail-item="05">
                  </div>

                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member06.png" alt=""
                    class="img-fluid team-member-image item-detail" 
                    data-target="detail"
                    data-detail-item="06">
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member07.png" alt=""
                    class="img-fluid team-member-image item-detail" 
                    data-target="detail"
                    data-detail-item="07">
                  </div>

                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member08.png" alt=""
                    class="img-fluid team-member-image item-detail" 
                    data-target="detail"
                    data-detail-item="08">
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member09.png" alt=""
                    class="img-fluid team-member-image item-detail" 
                    data-target="detail"
                    data-detail-item="09">
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member10.png" alt=""
                    class="img-fluid team-member-image item-detail" 
                    data-target="detail"
                    data-detail-item="10">
                  </div>
                  
              </div>
            </div>
        </div>
    </div>
</section>