<section class="section">
    <div class="katz-container">
        <div class="inner-content">
            <h2 class="font-title hidden-xs-down">Peace of Mind</h2>
            <div class="text-content">
                <div class="row">
                    <div class="col-md-6">
                        <p class="font-content p-content">Katz Architecture is committed to giving every client the best experience possible, through responsive and open communication, wide-ranging expertise, and a thorough, detail-oriented process.</p>
                    </div>
                    <div class="col-md-4">
                        <a class="font-subtitle link-disabled about" href="#" data-target="peace-of-mind3" >About The Firm</a>
                        <br>
                        <a class="font-subtitle team" href="#" data-target="peace-of-mind4" >Team</a>
                        <br>
                        <a class="font-subtitle open-section" href="#" data-target="contact">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>