<section class="section" id="management-properties">
    <div class="katz-container">
        <div class="inner-content">
            <h2 class="font-title">Properties</h2>
            <div class="team-content">
                <div class="row">
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid team-member-image">
                    <div class="team-member-name">Name</div>
                    <div class="team-member-role">Address</div>
                  </div>

                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid team-member-image">
                    <div class="team-member-name">Name</div>
                    <div class="team-member-role">Address</div>
                  </div>
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid team-member-image">
                    <div class="team-member-name">Name</div>
                    <div class="team-member-role">Address</div>
                  </div>

                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid team-member-image">
                    <div class="team-member-name">Name</div>
                    <div class="team-member-role">Address</div>
                  </div>
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid team-member-image">
                    <div class="team-member-name">Name</div>
                    <div class="team-member-role">Address</div>
                  </div>

                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid team-member-image">
                    <div class="team-member-name">Name</div>
                    <div class="team-member-role">Address</div>
                  </div>
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid team-member-image">
                    <div class="team-member-name">Name</div>
                    <div class="team-member-role">Address</div>
                  </div>

                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid team-member-image">
                    <div class="team-member-name">Name</div>
                    <div class="team-member-role">Address</div>
                  </div>
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid team-member-image">
                    <div class="team-member-name">Name</div>
                    <div class="team-member-role">Address</div>
                  </div>
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid team-member-image">
                    <div class="team-member-name">Name</div>
                    <div class="team-member-role">Address</div>
                  </div>
                  
              </div>
            </div>
        </div>
    </div>
    {% include utils/down-arrow.html  img-color="blue" %}
</section>