<section class="section">
    <div class="katz-container">
        <div class="inner-content">
            <h2 class="font-title hidden-xs-down">Building Management Support</h2>
            <div class="text-content">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="font-subtitle">Building Solutions</h3>
                        <p class="font-content p-content">Katz Architecture works closely with building managers, co-op and condo boards, and design professionals to ensure they are prepared for everything from long-term masterplanning to last-minute emergencies.</p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="font-subtitle">Our Services Include:</h3>
                        <ul>
                            <li class="font-content">Review of shareholder projects</li>
                            <li class="font-content">Common space design</li>
                            <li class="font-content">DOB & LPC filings, clearance, & approval</li>
                            <li class="font-content">Emergency repairs & compliance</li>
                            <li class="font-content">Construction phase oversight</li>
                        </ul>
                    </div>
                </div>
            <a class="font-subtitle" href="#" data-target="#carousel3" data-slide-to="1">Buildings Managed with KA</a>
            </div>
        </div>
    </div>
</section>