<section class="section" id="management-properties">
    <div class="katz-container">
        <div class="inner-content">
            <h2 class="font-title">Properties</h2>
            <div class="team-content">
                <div class="row">
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid property-image">
                    <div class="team-member-name">The Police Building</div>
                  </div>

                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid property-image">
                    <div class="team-member-name">243 West End Ave.</div>
                  </div>
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid property-image">
                    <div class="team-member-name">46 W. 95th St.</div>
                  </div>

                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid property-image">
                    <div class="team-member-name">705 Greenwich St.</div>
                  </div>
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid property-image">
                    <div class="team-member-name">170 E. 78th St.</div>
                  </div>

                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid property-image">
                    <div class="team-member-name">El Museo del Barrio</div>
                  </div>
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid property-image">
                    <div class="team-member-name">Gramercy Townhouse</div>
                  </div>

                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid property-image">
                    <div class="team-member-name">107 W. 25th St.</div>
                  </div>
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid property-image">
                    <div class="team-member-name">52 Thomas St.</div>
                  </div>
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid property-image">
                    <div class="team-member-name">Midtown Landmark Building</div>
                  </div>
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid property-image">
                    <div class="team-member-name">860 Grand Course, Bronx</div>
                  </div>
                  <div class="col-6 col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/properties/property01.png" alt="Property" class="img-fluid property-image">
                    <div class="team-member-name">Hotel St George, Brooklyn</div>
                  </div>
                  
              </div>
            </div>
        </div>
    </div>
    {% include utils/down-arrow.html img-color="blue" %}
</section>