<section class="section" id="management-properties">
    <div class="katz-container">
        <div class="inner-content">
            <h2 class="font-title">New York Properties</h2>
            <div class="team-content">
                <div class="row">
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/property-thumb-1.jpg" alt=""
                    class="img-fluid property-image item-detail"
                    data-target="detail"
                    data-detail-item="0">
                    <div class="detail-tooltip">
                      New York City <br>
                      Property
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/property-thumb-2.jpg" alt=""
                    class="img-fluid property-image item-detail"
                    data-target="detail"
                    data-detail-item="1">
                    <div class="detail-tooltip">
                      New York City <br>
                      Property
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/property-thumb-3.jpg" alt=""
                    class="img-fluid property-image item-detail"
                    data-target="detail"
                    data-detail-item="2">
                    <div class="detail-tooltip">
                      New York City <br>
                      Property
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/property-thumb-4.jpg" alt=""
                    class="img-fluid property-image item-detail"
                    data-target="detail"
                    data-detail-item="3">
                    <div class="detail-tooltip">
                      New York City <br>
                      Property
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/property-thumb-5.jpg" alt=""
                    class="img-fluid property-image item-detail"
                    data-target="detail"
                    data-detail-item="4">
                    <div class="detail-tooltip">
                      New York City <br>
                      Property
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/property-thumb-6.jpg" alt=""
                    class="img-fluid property-image item-detail"
                    data-target="detail"
                    data-detail-item="5">
                    <div class="detail-tooltip">
                      New York City <br>
                      Property
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/property-thumb-7.jpg" alt=""
                    class="img-fluid property-image item-detail"
                    data-target="detail"
                    data-detail-item="6">
                    <div class="detail-tooltip">
                      New York City <br>
                      Property
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/property-thumb-8.jpg" alt=""
                    class="img-fluid property-image item-detail"
                    data-target="detail"
                    data-detail-item="7">
                    <div class="detail-tooltip">
                      New York City <br>
                      Property
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/property-thumb-9.jpg" alt=""
                    class="img-fluid property-image item-detail"
                    data-target="detail"
                    data-detail-item="8">
                    <div class="detail-tooltip">
                      New York City <br>
                      Property
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/property-thumb-10.jpg" alt=""
                    class="img-fluid property-image item-detail"
                    data-target="detail"
                    data-detail-item="9">
                    <div class="detail-tooltip">
                      New York City <br>
                      Property
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/property-thumb-11.jpg" alt=""
                    class="img-fluid property-image item-detail"
                    data-target="detail"
                    data-detail-item="10">
                    <div class="detail-tooltip">
                      New York City <br>
                      Property
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/property-thumb-12.jpg" alt=""
                    class="img-fluid property-image item-detail"
                    data-target="detail"
                    data-detail-item="11">
                    <div class="detail-tooltip">
                      New York City <br>
                      Property
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/property-thumb-13.jpg" alt=""
                    class="img-fluid property-image item-detail"
                    data-target="detail"
                    data-detail-item="7">
                    <div class="detail-tooltip">
                      New York City <br>
                      Property
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/property-thumb-14.jpg" alt=""
                    class="img-fluid property-image item-detail"
                    data-target="detail"
                    data-detail-item="8">
                    <div class="detail-tooltip">
                      New York City <br>
                      Property
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/property-thumb-15.jpg" alt=""
                    class="img-fluid property-image item-detail"
                    data-target="detail"
                    data-detail-item="9">
                    <div class="detail-tooltip">
                      New York City <br>
                      Property
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/property-thumb-16.jpg" alt=""
                    class="img-fluid property-image item-detail"
                    data-target="detail"
                    data-detail-item="10">
                    <div class="detail-tooltip">
                      New York City <br>
                      Property
                    </div>
                  </div>
                  <div class="col-3 col-sm-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/property-thumb-17.jpg" alt=""
                    class="img-fluid property-image item-detail"
                    data-target="detail"
                    data-detail-item="11">
                    <div class="detail-tooltip">
                      New York City <br>
                      Property
                    </div>
                  </div>
                  
              </div>
            </div>
        </div>
    </div>
</section>