<section class="section detail border-white" id="detail">
  <div class="close-wrapper-detail">
    <div class="close close-white close-info"></div>
  </div>
  <div class="katz-container">
    <div class="inner-content">
      <h2 class="font-title-detail">Team</h2>
      <div class="team-content">
        <div class="row">
          <div class="col-6 col-sm-5 col-md-5 col-xs-landscape">
            <img src="{{site.url}}{{site.baseurl}}/assets/images" alt="David Katz" class="img-fluid team-member-image">
          </div>
          <div class="col-sm-7">
            <h3 class="font-subtitle-detail">First and last name, Title</h3>
            <p class="font-content">
              Bio Info. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore
              magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>