<section class="section detail border-white" id="detail">
  
  <div class="katz-container">
    <div class="inner-content">
      <span id="index-item" data-detail-item="1" data-id-section="management-properties"></span>
      <!-- for detail index storage -->
      <div class="team-content-detail">
        <div class="row">
          <div class="col-6 col-sm-7">
            <h2 class="font-title-detail">Team</h2>
            <h3 class="font-subtitle-detail">First and last name, Title</h3>
            <p class="font-content hidden-xs-down">
              Bio Info. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore
              magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit.
            </p>
          </div>
          <div class="col-6 col-sm-5">
            <img src="{{site.url}}{{site.baseurl}}/assets/images" alt="David Katz" class="img-fluid team-member-image detail-image">
          </div>
        </div>
        <div class="row">
          <p class="font-content hidden-sm-up">
            Bio Info. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore
            magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit.
          </p>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="left-arrow"></a>
  <div class="close-wrapper-detail">
    <div class="close close-blue close-info"></div>
  </div>
  <a href="#" class="right-arrow"></a>
</section>