<div class="topic topic-hidden topic-{{include.topic-class}} menu">{% include 2_menu.html %}</div>
{% assign cover_img = site.url | append: site.baseurl | append: site.data.building-interior.image %}

{% include _parts/topic-cover.html 
    topic-class=include.topic-class
    title=site.data.building-interior.title
    image= cover_img
%}

{% include _parts/content-two-cols.html 
    topic-class=include.topic-class
    data=site.data.building-interior
%}


<div class="topic topic-{{include.topic-class}} container-fluid">
    
    <h2 class="font-title hidden-xs-down">{{site.data.building-interior.title}}</h2>
    <div class="text-content">
        <div class="row gallery-container">
            
            <!-- Slideshow -->
            <div class="overlap-gallery container-fluid hidden">
                
                {% for item in site.data.building-interior.slides %}
                    <div class="slide">
                        <img src="{{ site.url }}{{ site.baseurl }}/assets/images/building-interior/slides/{{{item.thumbnail}}" alt="{item.info}}" class="img-fluid property-image">
                    </div>
                {% endfor %}

                <div class="navigation-down text-center" onclick="closeGallery(this)">
                    <span  class="back-to-menu white">
                        <img src="{{ site.url }}{{ site.baseurl }}/assets/images/close-blue.svg" alt="Menu">
                    </span>
                </div>
            </div>

            <!-- Gallery -->
            {% for item in site.data.building-interior.slides %}
            <div class="col-6 col-sm-2">
            <div onclick="moveTo(4, {{ forloop.index }},'.overlap-gallery' )">
                    <img src="{{ site.url }}{{ site.baseurl }}/assets/images/building-interior/slides/{{{item.thumbnail}}" alt="{item.info}}" class="img-fluid property-image">
                    <div class="detail-tooltip">{{item.info}}</div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
     {% include _parts/back-to-menu.html %}
</div>

