<div class="topic topic-hidden topic-building-management menu">{% include 2_menu.html %}</div>
{% assign cover_img = site.url | append: site.baseurl | append: site.data.building-management.image %}
{% include _parts/topic-cover.html 
    topic-class="building-management"
    title=site.data.building-management.title
    image=cover_img 
%}

<div class="topic topic-{{include.topic-class}} container-fluid">
    <div class="row">

        {% include _parts/back-to-menu.html %}
        
    </div>
</div>