<div class="topic topic-hidden topic-{{ include.topic-class }} menu">{% include 2_menu.html %}</div>
{% assign cover_img = site.url | append: site.baseurl | append: site.data.peace.image %}

{% include _parts/topic-cover.html 
    topic-class=include.topic-class
    title=site.data.peace.title
    image= cover_img
%}

<div class="topic topic-{{include.topic-class}} container-fluid">
        <h2 class="font-title hidden-xs-down">{{site.data.peace.title}}</h2>
        <div class="text-content">
            <div class="row">
                <div class="col-md-6">
                    <p class="font-content p-content">{{site.data.peace.block_1}}</p>
                </div>
            </div>
        </div>
        {% include _parts/nav-down.html %}
</div>

<div class="topic topic-{{include.topic-class}} container-fluid">
    
    <h2 class="font-title hidden-xs-down">{{site.data.peace.title}}</h2>
    <div class="text-content">
            <div class="row">
                <!-- Gallery -->
                {% for item in site.data.peace.team %}
                <div class="col-6 col-sm-2">
                    <div class="grid-item" onclick="moveTo(5, {{ forloop.index }},'.overlap-gallery', true )">
                        <span class="blue-filter"></span>
                        <img src="{{ site.url }}{{ site.baseurl }}/assets/images/building-interior/slides/{{{item.thumbnail}}" alt="{item.info}}" class="img-fluid property-image">
                        <div class="detail-tooltip">{{item.info}}</div>
                    </div>
                </div>
                {% endfor %}
            </div>

             <!-- Slideshow -->
    </div>
     {% include _parts/back-to-menu.html %}
</div>