<div class="topic topic-hidden topic-{{ include.topic-class }} menu">{% include 2_menu.html %}</div>

<div class="topic topic-{{include.topic-class}} contact-form container-fluid">
    <h2 class="font-title">{{ site.data.contact.title }}</h2>
    <p class="font-subtitle">{{ site.data.contact.subtitle }}</p>
   
    <form action="https://formspree.io/{{ site.email }}" method="POST" class="text-content">
        <input type="hidden" name="_next" value='{{ site.url }}{{ site.baseurl }}/thanks/'/>
        <input type="hidden" name="_subject" value='{{ site.contact-title }}'/>
        <div class="contact-list row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <ul class="contact-ul">
                {% for item in site.data.contact.services1 %}
                <li class="check-list">
                    <input type="checkbox" id="contact-checkbox1" name="building-architecture">
                    <label for="contact-checkbox1" class="secondary font-content-item">{{item}}</label>
                </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <ul class="contact-ul">
                {% for item in site.data.contact.services2 %}
                <li class="check-list">
                    <input type="checkbox" id="contact-checkbox1" name="building-architecture">
                    <label for="contact-checkbox1" class="secondary font-content-item">{{item}}</label>
                </li>
                {% endfor %}
                </ul>
            </div> 
        </div>
        <div>{{ site.data.contact.formlabel }}</div>
        
        <p class="font-content-textarea">Name</p>
        <input type="text" class="form-control contact-text col-sm-6" name="name"></input>
        <p class="font-content-textarea">Email</p>
        <input type="email" name="_replyto" class="form-control contact-text col-sm-6" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" value="" required</input>
        <p class="font-content-textarea">Your Contact Info</p>
        <textarea class="form-control contact-textarea col-sm-6" id="contact-textarea" name="your-contact-info"></textarea>
        <button class="btn btn-contact" type="submit">Contact</button>
    </form>

    {% include _parts/back-to-menu.html %}
</div>