<section class="section" id="about">
  <div class="container">
    <h2 class="font-title">About</h2>
    <div class="text-content">
      <div class="row">
        <div class="col-md-4">
          <h3 class="font-subtitle">Lorem Ipsum</h3>
          <p class="font-content p-content">From hand-drawn sketches to technical drawings, Katz Architecture has over 20 years’ experience helping our clients transform their living space and their commercial space.</p>
        </div>
        <div class="col-md-4">
          <h3 class="font-subtitle">Our Disciplines Include:</h3>
          <ul>
            <li class="font-content">Exterior Restoration</li>
            <li class="font-content">Structural Engineering</li>
            <li class="font-content">ADA Compliance</li>
            <li class="font-content">Common Space Design</li>
            <li class="font-content">Apartment Interiors Renovation</li>
          </ul>
        </div>
      </div>
    </div>
    
    <!--<div class="cross"><button class="btn">Boton</button></div>-->
  </div>
  <div class="navigation-down text-center">
    <a href="#" class="cover-anchor"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/arrow-down-blue.svg" alt="Menu"></a>
  </div>
</section>
