<section id="building" class="section inactive-section">
    <section class="section">
        <div class="carousel-item active bkg-cover building-cover border-white">
            <div class="katz-container ">
                <h2 class="font-title">Building & Interior Architecture</h2>
                {% include utils/down-arrow.html img-color="blue" %}
            </div>
        </div>
    </section>
    <section class="section" id="building2">
        <div id="carousel1" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active border-white">
                    <!--<div class="close close-blue  hidden-sm-up" data-target="menu"></div>-->
                    {% include building/item1.html %} 
                    {% include utils/down-cross.html img-color="white" %}
                </div>
                <div class="carousel-item img-filter border-white">
                    <!--<div class="close close-white  hidden-sm-up" data-target="menu"></div>                -->
                    <div class="info-button"></div>
                    {% include building/item2.html %} 
                    {% include utils/down-cross.html img-color="white" %}
                </div>
                <div class="carousel-item img-filter border-white">
                    <!--<div class="close close-white  hidden-sm-up" data-target="menu"></div>                                -->
                    <div class="info-button"></div>
                    {% include building/item3.html %} 
                    {% include utils/down-cross.html img-color="white" %}
                </div>
                <div class="carousel-item img-filter border-white">
                    <!--<div class="close close-white  hidden-sm-up" data-target="menu"></div>                                -->
                    <div class="info-button"></div>
                    {% include building/item4.html %} 
                    {% include utils/down-cross.html img-color="white" %}
                </div>
                <div class="carousel-item img-filter border-white">
                    <!--<div class="close close-white  hidden-sm-up" data-target="menu"></div>                                -->
                    <div class="info-button"></div>
                    {% include building/item5.html %} 
                    {% include utils/down-cross.html img-color="white" %}
                </div>
                <div class="carousel-item img-filter border-white">
                    <!--<div class="close close-white  hidden-sm-up" data-target="menu"></div>                                -->
                    <div class="info-button"></div>
                    {% include building/item6.html %} 
                    {% include utils/down-cross.html img-color="white" %}
                </div>
                <div class="carousel-item img-filter border-white">
                    <!--<div class="close close-white  hidden-sm-up" data-target="menu"></div>                                -->
                    <div class="info-button"></div>
                    {% include building/item7.html %} 
                    {% include utils/down-cross.html img-color="white" %}
                </div>
                <div class="carousel-item img-filter border-white">
                    <!--<div class="close close-white  hidden-sm-up" data-target="menu"></div>                                -->
                    <div class="info-button"></div>
                    {% include building/item8.html %} 
                    {% include utils/down-cross.html img-color="white" %}
                </div>
            </div>
            {% include carousel/paginator.html carouselId="#carousel1" %}
        </div>
    </section>
</section>