<section class="section" id="building">
  <div id="carousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="katz-container carousel-background building-cover">
          <div class="inner-content">
            <h2 class="font-title">Building & Interior Architecture</h2>
            <div class="navigation-down text-center">
              <a href="#" class="cover-anchor"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/arrow-down-white.svg" alt="Menu"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <section class="section">
          <div class="katz-container">
            <div class="inner-content">

            <h2 class="font-title">Building & Interior Architecture</h2>
            <div class="text-content">
              <div class="row">
                <div class="col-md-4">
                  <h3 class="font-subtitle">A Legacy of Design</h3>
                  <p class="font-content p-content">From hand-drawn sketches to technical drawings, Katz Architecture has over 20 years’ experience helping our clients transform their living space and their commercial space.</p>
                </div>
                <div class="col-md-4">
                  <h3 class="font-subtitle">Our Disciplines Include:</h3>
                  <ul>
                    <li class="font-content">Exterior Restoration</li>
                    <li class="font-content">Structural Engineering</li>
                    <li class="font-content">ADA Compliance</li>
                    <li class="font-content">Common Space Design</li>
                    <li class="font-content">Apartment Interiors Renovation</li>
                  </ul>
                </div>
              </div>
            </div>
            </div>
          </div>
            <div class="navigation-down text-center">
              <a href="#" class="cover-anchor"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/arrow-down-blue.svg" alt="Menu"></a>
            </div>
        </section>
      </div>
      <div class="carousel-item">
        <div class="katz-container carousel-background building-cover">
          <img src="{{ site.url }}{{ site.baseurl }}/assets/images/carousel/architecture-slide-1@2x.jpg" alt="">
          <div class="navigation-down text-center">
            <a href="#" class="cover-anchor"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/arrow-down-white.svg" alt="Menu"></a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="katz-container carousel-background building-cover">
          <img src="{{ site.url }}{{ site.baseurl }}/assets/images/carousel/architecture-slide-2@2x.jpg" alt="">
          <div class="navigation-down text-center">
            <a href="#" class="cover-anchor"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/arrow-down-white.svg" alt="Menu"></a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="katz-container carousel-background building-cover">
          <img src="{{ site.url }}{{ site.baseurl }}/assets/images/carousel/architecture-slide-3@2x.jpg" alt="">
          <div class="navigation-down text-center">
            <a href="#" class="cover-anchor"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/arrow-down-white.svg" alt="Menu"></a>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
