<section class="section inactive-section" id="building">
    <div class="carousel-item active bkg-cover building-cover border-white">
        <div class="katz-container ">
            <h2 class="font-title">Building & Interior Architecture</h2>
            {% include utils/down-arrow.html img-color="white" %}
        </div>
    </div>
</section>
<section class="section inactive-section" id="building2">
    <div id="carousel1" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active border-blue">
                <div class="close close-blue close-section hidden-sm-up" data-target="menu"></div>
                {% include building/item1.html %} 
                {% include utils/down-cross.html img-color="blue" %}
            </div>
            <div class="carousel-item img-filter border-white">
                <div class="close close-white close-section hidden-sm-up" data-target="menu"></div>                
                {% include building/item2.html %} 
                {% include utils/down-cross.html img-color="blue" %}
            </div>
            <div class="carousel-item img-filter border-white">
                <div class="close close-white close-section hidden-sm-up" data-target="menu"></div>                                
                {% include building/item3.html %} 
                {% include utils/down-cross.html img-color="blue" %}
            </div>
            <div class="carousel-item img-filter border-white">
                <div class="close close-white close-section hidden-sm-up" data-target="menu"></div>                                
                {% include building/item4.html %} 
                {% include utils/down-cross.html img-color="blue" %}
            </div>
        </div>
        {% include carousel/paginator.html carouselId="#carousel1" %}
    </div>
</section>