<section class="section" id="code-review">
  <div id="carousel4" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="katz-container carousel-background code-review-cover">
          <div class="inner-content">
            <h2 class="font-title">Code Review & Zoning</h2>
            <div class="navigation-down text-center">
              <a href="#" class="cover-anchor"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/arrow-down-white.svg" alt="Menu"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <section class="section">
          <div class="katz-container">
            <div class="inner-content">

            <h2 class="font-title">Code Review & Zoning</h2>
            <div class="text-content">
              <div class="row">
                <div class="col-md-4">
                  <h3 class="font-subtitle">Needs header</h3>
                  <p class="font-content p-content">Katz Architecture brings technical expertise and dedication to manage the often daunting task of meeting the requirements of city, state, and federal agencies.</p>
                </div>
                <div class="col-md-4">
                  <h3 class="font-subtitle">Our Services Include:</h3>
                  <ul>
                    <li class="font-content">Code investigation</li>
                    <li class="font-content">Zoning studies</li>
                    <li class="font-content">ADA compliance</li>
                    <li class="font-content">Building Department filings</li>
                    <li class="font-content">Landmarks Preservation Commission approvals</li>
                    <li class="font-content">Existing conditions surveys and reports</li>
                  </ul>
                </div>
              </div>
            </div>
            </div>
          </div>
            <div class="navigation-down text-center">
              <a href="#" class="cover-anchor"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/arrow-down-blue.svg" alt="Menu"></a>
            </div>
        </section>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel4" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel4" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>


