<section class="section contact" id="contact">
    <div class="katz-container contact-top">
        <div class="close close-white link-to" data-target="menu"></div>
        <div class="inner-content">
            <h2 class="font-title">Contact</h2>
            <p class="font-subtitle">Need help with a project? Leave your details & we’ll be in contact:</p>
            <form action="https://formspree.io/{{ site.email }}" method="POST">
                <input type="hidden" name="_next" value='{{ site.url }}{{ site.baseurl }}/thanks/'/>
                <input type="hidden" name="_subject" value='{{ site.contact-title }}'/>
                <div class="contact-list">
                    <ul class="contact-ul col-sm-4 col-md-4 col-lg-3">
                        <li class="check-list">
                            <input type="checkbox" id="contact-checkbox1" name="building-architecture">
                            <label for="contact-checkbox1" class="secondary font-content-item">Building Architecture</label>
                        </li>
                        <li class="check-list">
                            <input type="checkbox" id="contact-checkbox2" name="interior-architecture">
                            <label for="contact-checkbox2" class="secondary font-content-item">Interior Architecture</label>
                        </li>
                        <li class="check-list">
                            <input type="checkbox" id="contact-checkbox3" name="renovation">
                            <label for="contact-checkbox3" class="secondary font-content-item">Renovation</label>
                        </li>
                        <li class="check-list">
                            <input type="checkbox" id="contact-checkbox4" name="capital-improvement">
                            <label for="contact-checkbox4" class="secondary font-content-item">Capital Improvement</label>
                        </li>
                    </ul>
                    <ul class="contact-ul col-sm-6">
                        <li class="check-list">
                            <input type="checkbox" id="contact-checkbox5" name="building-management-support">
                            <label for="contact-checkbox5" class="secondary font-content-item">Building Management Support</label>
                        </li>
                        <li class="check-list">
                            <input type="checkbox" id="contact-checkbox6" name="historic-preservation">
                            <label for="contact-checkbox6" class="secondary font-content-item">Historic Preservation</label>
                        </li>
                        <li class="check-list">
                            <input type="checkbox" id="contact-checkbox7" name="code-consultation-and-review">
                            <label for="contact-checkbox7" class="secondary font-content-item">Code Consultation & Review</label>
                        </li>
                        <li class="check-list">
                            <input type="checkbox" id="contact-checkbox8" name="building-architect-of-record">
                            <label for="contact-checkbox8" class="secondary font-content-item">Building Architect of Record</label>
                        </li>
                    </ul>
                </div>
                <p class="font-content-textarea">Name</p>
                <input type="text" class="form-control contact-text col-sm-6" name="name"></input>
                <p class="font-content-textarea">Email</p>
                <input type="email" name="_replyto" class="form-control contact-text col-sm-6" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" value="" required</input>
                <p class="font-content-textarea">Your Contact Info</p>
                <textarea class="form-control contact-textarea col-sm-6" id="contact-textarea" name="your-contact-info"></textarea>
                <button class="btn btn-contact" type="submit">Send</button>
            </form>
        </div>
    </div>
    <footer class="katz-container contact-bottom">
        <div class="inner-content">
            <div class="row hidden-xs-down">
                <div class="col-md-2">
                    <a href="{{site.url}}{{site.baseurl}}/">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/logo-katz-white.svg" alt="Katz Architecture" class="img-fluid"
                            id="logo-footer"></a>
                </div>
                <div class="col-md-4">
                    <p class="font-content">Katz Architecture &<br>Project Management</p>
                </div>
                <div class="col-md-3">
                    <p class="font-content">150 West 22nd Street 4th Fl.<br>New York, NY 10011</p>
                </div>
                <div class="col-md-3">
                    <p class="font-content">info@katzarch.com<br>T 212.353.1080</p>
                </div>
            </div>
            <div class="row hidden-sm-up">
                <div class="col-12 text-center">
                    <a href="{{site.url}}{{site.baseurl}}">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/logo-katz-white.svg" alt="Katz Architecture & Project Management"
                            class="img-fluid" id="logo-footer"></a>
                </div>
                <div class="col-12 text-center">
                    <p class="font-content">150 West 22nd Street 4th Fl. New York, NY 10011</p>
                </div>
                <div class="col-12 text-center">
                    <p class="font-content">info@katzarch.com T 212.353.1080</p>
                </div>
            </div>
        </div>
    </footer>
</section>