<section class="section cover">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <ul>
          <li class="check-list">
            <input type="checkbox" checked="checked" id="cover-checkbox1">
            <label for="cover-checkbox1">For Management Companies</label>
          </li>
          <li class="check-list"><input type="checkbox" id="cover-checkbox2">
          <label for="cover-checkbox2">For Co-Op Boards & Condo Boards</label>
          </li>
          <li class="check-list"><input type="checkbox" id="cover-checkbox3">
          <label for="cover-checkbox3">For Building Managers</label>
          </li>
          <li class="check-list"><input type="checkbox" id="cover-checkbox4">
          <label for="cover-checkbox4">For Homeowners</label>
          </li>
          <li class="check-list"><input type="checkbox" id="cover-checkbox5">
          <label for="cover-checkbox5">Peace of Mind</label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>