<section class="section cover" id="cover">
    <!--<div class="close-white"></div>-->
    <ul class="cover-ul">
        <li class="check-list">
            <label for="cover-checkbox1" class="secondary font-title-item">For Management Companies</label>
        </li>
        <li class="check-list">
            <label for="cover-checkbox2" class="secondary font-title-item">For Co-Op & Condo-Boards</label>
        </li>
        <li class="check-list">
            <label for="cover-checkbox3" class="secondary font-title-item">For Building Managers</label>
        </li>
        <li class="check-list">
            <label for="cover-checkbox4" class="secondary font-title-item">For Homeowners</label>
        </li>
        <li class="check-list">
            <label for="cover-checkbox5" class="secondary font-title-item">Peace of Mind</label>
        </li>
    </ul>
    <div class="navigation-down text-center">
        <a href="#" class="main-anchor"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/arrow-down-white.svg" alt="Menu"></a>
    </div>
</section>