<section id="management" class="section inactive-section">
    <section class="section">
        <div class="carousel-item active bkg-cover management-cover border-white">
            <div class="katz-container ">
                <h2 class="font-title">Building Management Support</h2>
                {% include utils/down-arrow.html img-color="white" %}
            </div>
        </div>
    </section>
    <section class="section" id="management2">
        <div id="carousel3" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active border-white">
                    <!--<div class="close close-blue  hidden-sm-up" data-target="menu"></div>-->
                    {% include management/item1.html %} 
                    {% include utils/down-cross.html img-color="white" %}
                </div>
                <div class="carousel-item border-white">
                    <!--<div class="close close-blue  hidden-sm-up" data-target="menu"></div>-->
                    {% include management/item2.html %} 
                    {% include utils/down-cross.html img-color="white" %}
                </div>
            </div>
            {% include carousel/paginator.html carouselId="#carousel3" %}
        </div>
    </section>
</section>