<section class="section">
  <div class="container-fluid">
    <div class="row carousel">
      <div class="container">
        <h2 class="font-title ">Building Management Support</h2>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <h2 class="font-title">Building Management Support</h2>
      <div class="text-content">
        <div class="row">
          <div class="col-4">
            <h3 class="font-subtitle">Building Solutions</h3>
            <p class="font-content">Katz Architecture works closely with building managers, co-op and condo boards, and design professionals to ensure they are prepared for everything from long-term masterplanning to last-minute emergencies.</p>
          </div>
          <div class="col-4">
            <h3 class="font-subtitle">Our Services Include:</h3>
            <ul>
              <li class="font-content">Review of shareholder projects</li>
              <li class="font-content">Common space design</li>
              <li class="font-content">DOB & LPC filings, clearance, & approval</li>
              <li class="font-content">Emergency repairs & compliance</li>
              <li class="font-content">Construction phase oversight</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--TODO: Adjust footer link-->
    <!--<div class="row management-link-footer">
      <a href="#" class="font-subtitle">Buildings Managed with KA</a>
    </div>-->
  </div>
</section>
