<section class="section" id="management">
    <div id="carousel3" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active bkg-cover management-cover">
                <div class="katz-container ">
                    <h2 class="font-title">Building Management Support</h2>
                    {% include utils/down-arrow.html img-color="white" %}
                </div>
            </div>
            <div class="carousel-item">
                {% include management/item1.html %}
            </div>
            <div class="carousel-item">
                {% include management/item2.html %}
            </div>
        </div>
        {% include carousel/paginator.html carouselId="#carousel3" %}
    </div>
</section>
