<section class="section menu" id="menu">
    <!--<div class="close-blue"></div>-->
    <ul class="menu-ul">
        <li class="check-list open-section" data-target="building">
            <input type="checkbox" id="menu-building">
            <label for="menu-building" class="font-title-item">Building & Interior Architecture</label>
        </li>
        <li class="check-list open-section" data-target="renovation">
            <input type="checkbox" id="menu-renovation">
            <label for="menu-renovation" class="font-title-item">Renovation & Capital Improvement</label>
        </li>
        <li class="check-list open-section" data-target="management">
            <input type="checkbox" id="menu-management">
            <label for="menu-management" class="font-title-item">Building Management Support</label>
        </li>
        <li class="check-list open-section" data-target="code-review">
            <input type="checkbox" id="menu-code-review">
            <label for="menu-code-review" class="font-title-item">Code Consultation & Review</label>
        </li>
        <li class="check-list open-section" data-target="peace-of-mind">
            <input type="checkbox" id="menu-peace-of-mind">
            <label for="menu-peace-of-mind" class="font-title-item">Peace of Mind</label>
        </li>
    </ul>
    <div class="menu-footer">
        <div class="menu-footer-logo"></div>
        <div class="menu-footer-tagline">
            <p>Katz Architecture & <br> Project Management</p>
        </div>
        <div class="menu-footer-contact">
            <a href="#" data-target="contact" class="footer-menu-btn open-section">Contact</a>
        </div>
    </div>
</section>