<section class="section menu">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <ul>
          <li class="check-list">
            <input type="checkbox" checked="checked" id="menu-checkbox1">
            <label for="menu-checkbox1">Building & Interior Architecture</label>
          </li>
          <li class="check-list"><input type="checkbox" id="menu-checkbox2">
          <label for="menu-checkbox2">Renovation & Capital Improvement</label>
          </li>
          <li class="check-list"><input type="checkbox" id="menu-checkbox3">
          <label for="menu-checkbox3">Building Management Support</label>
          </li>
          <li class="check-list"><input type="checkbox" id="menu-checkbox4">
          <label for="menu-checkbox4">Zoning & Code Consultation</label>
          </li>
          <li class="check-list"><input type="checkbox" id="menu-checkbox5">
          <label for="menu-checkbox5">Peace of Mind</label>
          </li>
        </ul>
      </div>
    </div>
    <!--<div class="row fixed-bottom">
      <div class="container-fluid">
        <div class="row footer-menu">
          <div class="col-xs-6 col-sm-4">
            <div class="col-xs-6 col-sm-2">
              <img src="{{site.url}}{{site.baseurl}}/assets/images/logo.png" alt="Katz Architecture">
            </div>
            <div class="col-xs-12 col-sm-6">
              <p>Katz Architecture & <br>
              Project Management</p>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="pull-right footer-menu-nav">
                <a href="#"><li class="footer-menu-btn">About</li></a>
                <a href="#"><li class="footer-menu-btn">Team</li></a>
                <a href="#"><li class="footer-menu-btn">Contact</li></a>
              </ul>
          </div>
          
        </div>
      </div>
    </div>-->
    
  </div>
</section>