<section class="section" id="building">
  <div class="container-fluid">
    <div class="row carousel">
      <div class="container">
        <h2 class="font-title">Piece of Mind</h2>
      </div>
    </div>
    <div class="navigation-down text-center">
      <a href="#" class="cover-anchor"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/arrow-down-white.svg" alt="Menu"></a>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="font-title">Piece of Mind</h2>
    <div class="text-content">
      <div class="row">
        <div class="col-md-6">
          <p class="font-content p-content">Katz Architecture is committed to giving every client the best experience possible, through responsive and open communication, wide-ranging expertise, and a thorough, detail-oriented process.</p>
        </div>
        <div class="col-md-6">
          <a href="#about" class="font-subtitle">About the Firm</a>
          <br>
          <a href="#team" class="font-subtitle">Our Team</a>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation-down text-center">
    <a href="#" class="cover-anchor"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/arrow-down-blue.svg" alt="Menu"></a>
  </div>
</section>
