<section class="section" id="renovation">
    <div id="carousel2" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active bkg-cover renovation-cover border-white">
                <div class="katz-container ">
                    <div class="close close-blue link-to" data-target="menu"></div>
                    <h2 class="font-title">Renovation & Capital Improvement</h2>
                    {% include utils/down-arrow.html img-color="blue" %}
                </div>
            </div>
            <div class="carousel-item border-blue">
                <div class="close close-blue link-to" data-target="menu"></div>
                {% include renovation/item1.html %}
            </div>
        </div>
        {% include carousel/paginator.html carouselId="#carousel2" %}
    </div>
</section>