<section class="section">
  <div class="container-fluid">
    <div class="row carousel">
      <div class="container">
        <h2 class="font-title ">Renovation + Capital Improvement</h2>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <h2 class="font-title">Renovation + Capital Improvement</h2>
      <div class="text-content">
        <div class="row">
          <div class="col-8">
            <div class="row">
              <div class="col">

              <h3 class="font-subtitle">Placeholder</h3>
              <p class="font-content">Velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <h3 class="font-subtitle"> Renovation Projects </h3>
                <p>65 PROJECTS</p>
                <hr>
                <p>235 UNITS</p>
              </div>
              <div class="col-6">
                <h3 class="font-subtitle"> Capital Improvement Projects </h3>
                <p>34 PROJECTS</p>
                <hr>
                <p>123 UNITS</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
