<section class="section">
  <div class="container">
    <div class="row">
      <h2 class="font-title">Team</h2>
      <div class="team-content">
        
        <div class="row">
            <div class="col-2">
              <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="team-member-image">
              <span class="team-member-name">David Katz</span>
              <br>
              <span class="team-member-role">Founder</span>
            </div>
            <div class="col-2">
              <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="team-member-image">
              <span class="team-member-name">David Katz</span>
              <br>
              <span class="team-member-role">Founder</span>
            </div>
            <div class="col-2">
              <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="team-member-image">
              <span class="team-member-name">David Katz</span>
              <br>
              <span class="team-member-role">Founder</span>
            </div>
            <div class="col-2 team-member-item">
              <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="team-member-image">
              <span class="team-member-name">David Katz</span>
              <br>
              <span class="team-member-role">Founder</span>
            </div>
            <div class="col-2">
              <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="team-member-image">
              <span class="team-member-name">David Katz</span>
              <br>
              <span class="team-member-role">Founder</span>
            </div>
            <div class="col-2">
              <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="team-member-image">
              <span class="team-member-name">David Katz</span>
              <br>
              <span class="team-member-role">Founder</span>
            </div>
            <div class="col-2">
              <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="team-member-image">
              <span class="team-member-name">David Katz</span>
              <br>
              <span class="team-member-role">Founder</span>
            </div>
            <div class="col-2">
              <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="team-member-image">
              <span class="team-member-name">David Katz</span>
              <br>
              <span class="team-member-role">Founder</span>
            </div>
            
            
        </div>
      </div>
    </div>
  </div>
</section>
