<section class="section">
  <div class="container">

    <h2 class="font-title">Team</h2>
    <div class="team-content">
      
      <div class="row">
          <div class="col-6 col-md-2">
            <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="img-fluid team-member-image">
            <div class="team-member-name">David Katz</div>
            <div class="team-member-role">Founder</div>
          </div>

          <div class="col-6 col-md-2">
            <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="img-fluid team-member-image">
            <div class="team-member-name">David Katz</div>
            <div class="team-member-role">Founder</div>
          </div>
          <div class="col-6 col-md-2">
            <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="img-fluid team-member-image">
            <div class="team-member-name">David Katz</div>
            <div class="team-member-role">Founder</div>
          </div>

          <div class="col-6 col-md-2">
            <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="img-fluid team-member-image">
            <div class="team-member-name">David Katz</div>
            <div class="team-member-role">Founder</div>
          </div>
          <div class="col-6 col-md-2">
            <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="img-fluid team-member-image">
            <div class="team-member-name">David Katz</div>
            <div class="team-member-role">Founder</div>
          </div>

          <div class="col-6 col-md-2">
            <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="img-fluid team-member-image">
            <div class="team-member-name">David Katz</div>
            <div class="team-member-role">Founder</div>
          </div>
          <div class="col-6 col-md-2">
            <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="img-fluid team-member-image">
            <div class="team-member-name">David Katz</div>
            <div class="team-member-role">Founder</div>
          </div>

          <div class="col-6 col-md-2">
            <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="img-fluid team-member-image">
            <div class="team-member-name">David Katz</div>
            <div class="team-member-role">Founder</div>
          </div>
          <div class="col-6 col-md-2">
            <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="img-fluid team-member-image">
            <div class="team-member-name">David Katz</div>
            <div class="team-member-role">Founder</div>
          </div>

          <div class="col-6 col-md-2">
            <img src="{{site.url}}{{site.baseurl}}/assets/images/members/member01.png" alt="David Katz" class="img-fluid team-member-image">
            <div class="team-member-name">David Katz</div>
            <div class="team-member-role">Founder</div>
          </div>
          
      </div>
    </div>
    
  </div>
</section>
