<section class="section contact bkg-cover thanks-cover">
    <div class="katz-container contact-top">
        
        <div class="inner-content">
            <h2 class="font-title">Message received.<br>We'll be in touch shortly.</h1> 
        </div>
    </div>
    <footer class="katz-container contact-bottom">
        <div class="inner-content">
            <div class="row hidden-xs-down">
                <div class="col-md-2">
                    <a href="{{site.url}}{{site.baseurl}}/">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/logo-katz-white.svg" alt="Katz Architecture" class="img-fluid"
                            id="logo-footer"></a>
                </div>
                <div class="col-md-4">
                    <p class="font-content">Katz Architecture &<br>Project Management</p>
                </div>
                <div class="col-md-3">
                    <p class="font-content">150 West 22nd Street 4th Fl.<br>New York, NY 10011</p>
                </div>
                <div class="col-md-3">
                    <p class="font-content">info@katzarch.com<br>T 212.353.1080</p>
                </div>
            </div>
            <div class="row hidden-sm-up">
                <div class="col-12 text-center">
                    <a href="{{site.url}}{{site.baseurl}}">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/logo-katz-white.svg" alt="Katz Architecture & Project Management"
                            class="img-fluid" id="logo-footer"></a>
                </div>
                <div class="col-12 text-center">
                    <p class="font-content">150 West 22nd Street 4th Fl. New York, NY 10011</p>
                </div>
                <div class="col-12 text-center">
                    <p class="font-content">info@katzarch.com T 212.353.1080</p>
                </div>
            </div>
        </div>
    </footer>
</section>
