@font-face {
    font-family: Graphik;
    src: url("../fonts/Graphik-Semibold.otf") format("opentype");
}
@font-face {
    font-family: Miller-TextBold;
    font-weight: bold;
    src: url("../fonts/Miller-TextBold.otf") format("opentype");
}
@font-face {
    font-family: Miller-TextRoman;
    font-weight:normal;
    src: url("../fonts/Miller-TextRoman.otf") format("opentype");
}