@import 'libs/variables';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/fonts';



html,
body {
    height: 100%;
}
.katz-container {
  @extend .container-fluid;
  padding-right: 28px;
  padding-left: 28px;
  float: left;
  width: 100%;
  position: relative;
}

.section {
  min-height: 100vh;
  display: block;
  width: 100%;
  float: left;
  background-color:white;
  position: relative;
}
.primary {
  color: _palette(_katz-primary) !important;
}
.secondary {
  color: _palette(_katz-secondary) !important;
}
.font-title-item {
  letter-spacing: -1px;
}
.font-title {
  letter-spacing: 0;
}
.font-title,
.font-title-item {
  font-family: Graphik;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  @include respond-to(md) {
    font-size: 56px;
    line-height: 1.23;
    letter-spacing: -1.2px;
  }
  color: _palette(_katz-primary);
}


.font-subtitle {
  font-family: Miller-Text;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.19;
	letter-spacing: normal;
  color: _palette(_katz-primary);
}
.font-content {
  font-family: Miller-TextRoman;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: _palette(_katz-primary);
}
li.font-content:before {
  content: '- ';
}

li.font-content {
  list-style-type: none;
  margin-left: -40px;
}

.cover,
.menu {
  padding-top: 10px;
}
.cover,
.contact {
  color: _palette(_katz-secondary) !important;
  background-color: _palette(_katz-primary) !important;
}
.cover {
  border: 10px solid _palette(_katz-secondary);
}
.menu {
  color: _palette(_katz-primary);
  background-color: _palette(_katz-secondary);
  border: 10px solid _palette(_katz-primary);
  position: relative;
  //top: 0;
  width: 100%;
  height: 100vh;
}
.cover-ul,
.menu-ul {
  padding-left:19px;
}
.check-list {
  list-style-type: none;
}
.menu .check-list {
  @include katz-checkbox(_palette(_katz-primary), _palette(_katz-secondary));
}
.cover .check-list {
  @include katz-checkbox(_palette(_katz-secondary), _palette(_katz-primary));
}
.menu-footer {
  color: _palette(_katz-primary);
  font-family: Miller-TextRoman;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  line-height: 1.29;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 19px;
  @include respond-to(md) {
    font-size: 16px;
    line-height: 1.5;
  }
}
.menu-footer-logo {
  background-color:#ccc;
  background: url("../assets/images/logo-katz-blue.svg") no-repeat center center;
  display: block;
  width: 60px;
  height: 37px;
  margin-bottom: 13px;
  float: left;
  @include respond-to(sm) {
    width: 48px;
    height: 30px;
    background-size: contain;
    padding-right: 30px;
  }
  @include respond-to(md) {
    width: 60px;
    height: 37px;
  }
}
.menu-footer-contact {
  position: absolute;
  right: 20px;
  top: 58px;
  @include respond-to(sm) {
    top: 8px;
  }
}

.menu-footer-tagline{
  clear: both;
  @include respond-to(sm) {
    clear: none;
    float:left;
    margin-left:33px;
  }
}

.footer-menu-btn {
  width: 77px;
  height: 25px;
  list-style-type: none;
  display: inline-block;
  // margin: 0 auto;
  text-align: center;
  border: solid 1px _palette(_katz-primary);
  color: _palette(_katz-primary);
  margin-bottom: 15px;
  padding-top: 2px;
  cursor: pointer;
  @include respond-to(md) {
    width: 81px;
    height: 25px;
    padding-top: 0;
  }
}
.footer-menu-btn:hover {
  border: solid 1px _palette(_katz-primary);
  text-decoration-style: none;
}


.bkg-cover{
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  
  &.renovation-cover {
    background-image: url('../assets/images/carousel/renovation-cover.jpg');
    @include respond-to(md) {
      background-image: url('../assets/images/carousel/renovation-cover@2x.jpg');
    }
  }
  &.building-cover {
    background-image: url('../assets/images/carousel-building-01.png');
    // @include respond-to(md) {
    //   background-image: url('../assets/images/carousel/building-cover@2x.jpg');
    // }
  }
  &.management-cover {
    background-image: url('../assets/images/carousel/support-cover.jpg');
    @include respond-to(md) {
      background-image: url('../assets/images/carousel/support-cover@2x.jpg');
    }
  }
  &.code-review-cover {
    background-image: url('../assets/images/carousel-building-01.png');
  }
  &.peace-of-mind-cover {
    background-image: url('../assets/images/carousel/peaceofmind-cover.jpg');
    @include respond-to(md) {
      background-image: url('../assets/images/carousel/peaceofmind-cover@2x.jpg');
    }
  }
}


.font-title {
  padding-top: 20px;
}
.font-subtitle {
  padding-bottom: 10px;
}
.text-content {
  top: 20vh;
  @include respond-to(md) {
    position: absolute;
    top: 50vh;
  }
}
.p-content {
  padding-bottom: 20px;
}

.team-content {
  padding-top: 0;
  padding-bottom: 60px;
  @include respond-to(md) {
    padding-top: 140px;
    padding-bottom: 0;
  }
}
.team-member-item {
  padding-bottom:25px;
}
.team-member-image,
.property-image {
  padding-bottom: 14px;
}
.team-member-name {
  @extend .font-subtitle;
  padding-bottom: 3px;
}
.team-member-role {
  @extend .font-content;
  line-height: 1.31;
  padding-bottom: 27px;
}

.contact {
  position:relative;
  .font-title,
  .font-subtitle,
  .font-content {
    color: _palette(_katz-secondary);
  }

  .font-title {
    @include respond-to(md) {
      padding-bottom: 70px;
    }
  }

  .font-content-item {
    @extend .font-content;
    margin-bottom: 0;
  }
  .font-content-textarea {
    @extend .font-content;
    float: left;
    width: 100%;
    margin-top: 20px;
    @include respond-to(md) {
      margin-top: 40px;
    }
  }
  .contact-ul {
    float: left;
    margin-bottom: 0;
  }
  .btn-contact {
    border: 1px solid _palette(_katz-secondary);
    border-radius: 0;
    color: _palette(_katz-secondary);
    background-color: _palette(_katz-primary);
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover {
      background-color: _palette(_katz-third);
    }
  }
}

.contact-list .check-list {
  @include katz-checkbox(_palette(_katz-secondary), _palette(_katz-primary), true);
}

.contact-inputs {
  @extend .font-content;
	background-color: _palette(_katz-third);
	border: solid 1px _palette(_katz-secondary);
  border-radius: 0px;
  outline: none;
  &:focus{
    background-color: _palette(_katz-fourth);
	  border: solid 1px _palette(_katz-secondary);

  }
}
.contact-textarea {
  @extend .contact-inputs;
  height: 120px;
}
.contact-text {
  @extend .contact-inputs;
  height: 30px;
}
.contact-top {
  overflow: auto;
  padding-bottom: 150px;
  min-height:100vh;
}
.contact-bottom {
  position: relative;
  margin-top: -170px;
  height: 170px;
  clear: both;
  padding-top:20px;
  @include respond-to(sm) {
    margin-top: -150px;
    height: 150px;
  }
  @include respond-to(md) {
    margin-top: -100px;
    height: 100px;
    padding-top: 0px;
  }
  
}
#logo-footer {
  max-width: 60px;
  max-height: 36px;
  margin-bottom: 10px;
}

.container-fluid .navigation-down {
  margin-left: -28px;
}

.navigation-down {
  position: absolute;
  bottom: 20px;
  // left: 50%;
  width: 100%;
  @include respond-to(md) {
    bottom: 40px;
  }
}
.navigation-down-cover {
  @extend .navigation-down;
  width: 95%;
}


.popup-menu {
  @extend .menu;
  opacity: 0;
  // position: fixed;
  transition: opacity 1000ms;
  &.on {
    opacity: 1;
    transition: opacity 1000ms;
    z-index: 10000;
  }
}


.carousel-item{
  @include respond-to(sm) {
    max-height: 100vh;
    overflow: hidden;
  }

  .img-fluid{
    max-width: auto!important;
  }
}
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  position: absolute;
  @include respond-to(md) {
    top: 100px;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: absolute;
  top: 40%;
}
.carousel-control-prev-icon {
  background-image: url("../assets/images/arrow-left-blue.svg");
}
.carousel-control-next-icon {
  background-image: url("../assets/images/arrow-right-blue.svg");
}

.close-white,
.close-blue {
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  background-size: contain;
  right: 10px;
  top: 25px;
  cursor: pointer;
  z-index:999;
  @include respond-to(md) {
    width: 22px;
    height: 22px;
    right: 30px;
    top: 34px;
  }
}
.close-blue {
  background-image: url("../assets/images/close-blue.svg");
}
.close-white {
  background-image: url("../assets/images/close-white.svg");
}
.img-filter:before {
  content: "";
  display: block;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,255, 0.3);
  transition: opacity 1s linear;
}
.off:before {
  opacity:0;
}
.inner-content {
  padding-bottom: 10px;
}
