@import 'libs/variables';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/fonts';



html,
body {
    height: 100%;
}
.katz-container {
  @extend .container-fluid;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 100%;
  position: relative;
  @include respond-to(md) {
    padding-right: 28px;
    padding-left: 28px;
  }
}

.katz-container-contact {
  @extend .katz-container;
  padding-right: 20px;
  padding-left: 20px;
  @include respond-to(md) {
    padding-right: 28px;
    padding-left: 28px;
  }
}

.section {
  min-height: 100vh;
  display: block;
  width: 100%;
  float: left;
  background-color:white;
  position: relative;
}
.primary {
  color: _palette(_katz-primary) !important;
}
.secondary {
  color: _palette(_katz-secondary) !important;
}
.font-title-item {
  letter-spacing: -1px;
  font-size: 24px;
}
.font-title {
  font-size: 34px;
  letter-spacing: 0;
}
.font-title,
.font-title-item {
  font-family: Graphik;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  // @include respond-to(sm) {
  //   font-size: 48px;
  // }
  @include respond-to(md) {
    font-size: 48px;
    line-height: 1.23;
    letter-spacing: -1.2px;
  }
  @include respond-to(lg) {
    font-size: 56px;
  }
  color: _palette(_katz-primary);
}
.font-title-item:hover {
  opacity: .8;
}

.font-subtitle {
  font-family: Miller-Text;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.19;
	letter-spacing: normal;
  color: _palette(_katz-primary);
}
.font-content {
  font-family: Miller-TextRoman;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: _palette(_katz-primary);
}
li.font-content:before {
  content: '- ';
}

li.font-content {
  list-style-type: none;
  margin-left: -40px;
}

.cover,
.menu {
  padding-top: 10px;
}
.cover,
.contact {
  color: _palette(_katz-secondary) !important;
  background-color: _palette(_katz-primary) !important;
}
.cover {
  border: 10px solid _palette(_katz-secondary);
}
.menu {
  color: _palette(_katz-primary);
  background-color: _palette(_katz-secondary);
  border: 10px solid _palette(_katz-secondary);
  position: relative;
  width: 100%;
  height: 100vh;
}
.cover-ul,
.menu-ul {
  padding-left:19px;
}
.check-list {
  list-style-type: none;
}
.menu .check-list {
  @include katz-checkbox(_palette(_katz-primary), _palette(_katz-secondary));
}
.cover .check-list {
  @include katz-checkbox(_palette(_katz-secondary), _palette(_katz-primary));
}
.menu-footer {
  color: _palette(_katz-primary);
  font-family: Miller-TextRoman;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  line-height: 1.29;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 19px;
  @include respond-to(md) {
    font-size: 16px;
    line-height: 1.5;
  }
}
.menu-footer-logo {
  background-color:#ccc;
  background: url("../assets/images/logo-katz-blue.svg") no-repeat center center;
  display: block;
  width: 60px;
  height: 37px;
  margin-bottom: 13px;
  margin-top: 6px;
  float: left;
  @include respond-to(sm) {
    width: 48px;
    height: 30px;
    background-size: contain;
    padding-right: 30px;
    margin-top: 3px;
  }
  @include respond-to(md) {
    width: 60px;
    height: 37px;
  }
}
.menu-footer-contact {
  position: absolute;
  right: 20px;
  top: 58px;
  @include respond-to(sm) {
    top: 14px;
  }
  @include respond-to(md) {
    top: 19px;
  }
}

.menu-footer-tagline{
  clear: both;
  @include respond-to(sm) {
    clear: none;
    float:left;
    margin-left:33px;
  }
}

.footer-menu-btn {
  width: 77px;
  height: 25px;
  list-style-type: none;
  display: inline-block;
  // margin: 0 auto;
  text-align: center;
  border: solid 1px _palette(_katz-primary);
  color: _palette(_katz-primary);
  margin-bottom: 15px;
  padding-top: 2px;
  cursor: pointer;
  @include respond-to(md) {
    width: 81px;
    height: 25px;
    padding-top: 0;
  }
}
.footer-menu-btn:hover {
  border: solid 1px _palette(_katz-primary);
  text-decoration-style: none;
}


.bkg-cover{
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  
  &.renovation-cover {
    background-image: url('../assets/images/carousel/renovation-mobile-cover.jpg');
    @include respond-to(sm) {
      background-image: url('../assets/images/carousel/renovation-mobile-cover@3x.jpg');
    }
    @include respond-to(md) {
      background-image: url('../assets/images/carousel/renovation-cover@2x.jpg');
    }
  }
  &.building-cover {
    background-image: url('../assets/images/carousel/building-mobile-cover.jpg');
    @include respond-to(sm) {
      background-image: url('../assets/images/carousel/building-mobile-cover@3x.jpg');
    }
    @include respond-to(md) {
      background-image: url('../assets/images/carousel/building-cover@2x.jpg');
    }
  }
  &.management-cover {
    background-image: url('../assets/images/carousel/support-mobile-cover.jpg');
    @include respond-to(sm) {
      background-image: url('../assets/images/carousel/support-mobile-cover@3x.jpg');
    }
    @include respond-to(md) {
      background-image: url('../assets/images/carousel/support-cover@2x.jpg');
    }
  }
  &.code-review-cover {
    background-image: url('../assets/images/carousel/code-review-mobile-cover.jpg');
    @include respond-to(sm) {
      background-image: url('../assets/images/carousel/code-review-mobile-cover@3x.jpg');
    }
    @include respond-to(md) {
      background-image: url('../assets/images/carousel/code-review-cover@2x.jpg');
    }
  }
  &.peace-of-mind-cover {
    background-image: url('../assets/images/carousel/peaceofmind-mobile-cover.jpg');
    @include respond-to(sm) {
      background-image: url('../assets/images/carousel/peaceofmind-mobile-cover@3x.jpg');
    }
    @include respond-to(md) {
      background-image: url('../assets/images/carousel/peaceofmind-cover@2x.jpg');
    }
  }
  &.thanks-cover {
    background-image: url('../assets/images/carousel/contact-thanks.jpg');
    @include respond-to(md) {
      background-image: url('../assets/images/carousel/contact-thanks@2x.jpg');
    }
  }
}


.font-title {
  letter-spacing: -1.2px;
  margin-bottom: 40px;
  padding-top: 15px;
  @include respond-to(md) {
    letter-spacing: auto;
    padding-top: 20px;
    margin-bottom: auto;
  }
}
  
.font-subtitle {
  padding-bottom: 0;
  margin-bottom: 0;
  @include respond-to(md) {
    padding-bottom: 18px;
  }
}
.text-content {
  top: 20vh;
  @include respond-to(md) {
    position: absolute;
    top: 50vh;
  }
}
.p-content {
  padding-bottom: 8px;
  @include respond-to(md) {
    padding-bottom: 20px;
  }
}

.p-content-about {
  @extend .p-content;
  margin-bottom: 8px;
  line-height: 1.25;
  @include respond-to(md) {
    padding-bottom: 0px;
  }
}

.team-content {
  padding-top: 0;
  padding-bottom: 60px;
  margin-top: 0;
  @include respond-to(sm) {
    margin-top: 0;
  }
  @include respond-to(md) {
    margin-top: 20vh;
    padding-bottom: 0;
  }
}
.team-content .col-3 {
  padding-left: 7.5px;
  padding-right: 7.5px;
  @media (min-width: 567px) and (max-width: 576px) {
    max-width: 16.666667%;

  }
}
.team-content .col-md-2 {
  @include respond-to(md) {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
  }
}
.team-member-item {
  padding-bottom:25px;
}
.team-member-image,
.property-image {
  padding-bottom: 14px;
  cursor: pointer;
}
.team-member-name {
  @extend .font-subtitle;
  padding-bottom: 3px;
}
.team-member-role {
  @extend .font-content;
  line-height: 1.31;
  padding-bottom: 27px;
}

.contact {
  position:relative;
  .font-title,
  .font-subtitle,
  .font-content,
  a {
    color: _palette(_katz-secondary);
  }

  .font-title {
    @include respond-to(md) {
      padding-bottom: 70px;
    }
  }

  .font-content-item {
    @extend .font-content;
    margin-bottom: 0;
  }
  .font-content-textarea {
    @extend .font-content;
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
    @include respond-to(md) {
      margin-top: 20px;
      margin-bottom: 16px;
    }
  }
  .contact-ul {
    float: left;
    margin-bottom: 20px;
  }
  .btn-contact {
    border: 1px solid _palette(_katz-secondary);
    border-radius: 0;
    color: _palette(_katz-secondary);
    background-color: _palette(_katz-primary);
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover {
      background-color: _palette(_katz-third);
    }
  }
}

.contact-list .check-list {
  @include katz-checkbox(_palette(_katz-secondary), _palette(_katz-primary), true);
}

.contact-inputs {
  @extend .font-content;
	background-color: _palette(_katz-third);
	border: solid 1px _palette(_katz-secondary);
  border-radius: 0px;
  outline: none;
  &:focus{
    background-color: _palette(_katz-fourth);
	  border: solid 1px _palette(_katz-secondary);

  }
}
.contact-textarea {
  @extend .contact-inputs;
  height: 120px;
}
.contact-text {
  @extend .contact-inputs;
  height: 30px;
}
.contact-top {
  overflow: auto;
  padding-bottom: 150px;
  min-height:100vh;
}
.contact-bottom {
  position: relative;
  margin-top: -170px;
  clear: both;
  padding-top:20px;
  @include respond-to(sm) {
    margin-top: -150px;
    height: 170px;
    height: 150px;
  }
  @include respond-to(md) {
    margin-top: -100px;
    height: 100px;
    padding-top: 0px;
  }
  
}
#logo-footer {
  max-width: 60px;
  max-height: 36px;
  margin-bottom: 10px;
}

.container-fluid .navigation-down {
  margin-left: -28px;
}

.navigation-down {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  margin-left: 0 !important;
  @include respond-to(md) {
    bottom: 40px;
  }
}
.navigation-down-cover {
  @extend .navigation-down;
  width: 100%;
}


.popup-menu {
  @extend .menu;
  opacity: 0;
  // position: fixed;
  transition: opacity 1000ms;
  &.on {
    opacity: 1;
    transition: opacity 1000ms;
    z-index: 10000;
  }
}


.carousel-item{
  @include respond-to(sm) {
    max-height: 100vh;
    overflow: hidden;
  }

  .img-fluid{
    max-width: auto!important;
  }
}
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  max-width: 15px;
  position: absolute;
  @include respond-to(md) {
    top: 100px;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: absolute;
  top: 40vh;
  max-width: 15px;
}
.carousel-control-prev-icon {
  background-image: url("../assets/images/arrow-left-blue.svg");
  left: 0;
  @include respond-to(md) {
    left: 5px;
  }
}
.carousel-control-next-icon {
  background-image: url("../assets/images/arrow-right-blue.svg");
  right: 0;
  @include respond-to(md) {
    right: 5px;
  }
}

.close-wrapper {
  left: calc(50% - 18px);
  background-color: rgba(0,0,0,0.15);
  width: 22px;
  height: 22px;
  position: absolute;
  cursor: pointer;
  bottom: -20px;
  @include respond-to(md) {
  bottom: -20px;
    width: 36px;
    height: 36px;
  }
}

.close-white,
.close-blue {
  width: 14px;
  height: 14px;
  display: block;
  position: relative;
  background-size: contain;
  // right: 10px;
  left: -4px;
    top: 4px;
  cursor: pointer;
  z-index:999;
  @include respond-to(md) {
    width: 22px;
    height: 22px;
    left: -7px;
    top: 7px;
  }
}
.close-blue {
  background-image: url("../assets/images/close-blue.svg");
}
.close-white {
  background-image: url("../assets/images/close-white.svg");
}

.img-filter {
  filter: grayscale(100%);
  transition: all .6s;
  &.deactivate {
    filter: grayscale(0);
  }
}

.img-slider {
  object-fit: cover;
  min-width: 100%;
  max-height: calc(100vh - 20px);
  height: 100vh;
  object-position: 50% 50%;
}

.border-blue {
  border: 10px solid _palette(_katz-primary);
}

.border-white {
  border: 10px solid _palette(_katz-secondary);
}

.inactive-section {
  @include respond-to(md) {
    position: fixed;
    top: 101%;
    z-index: 1000;
    transition: all 1s;
    &.activate-section {
      top: 0;
      display: block;
    }
    &.translate-section {
      top: -100%;
      display: block;
    }
  }
}

.contact-close {
    @extend .close-white;
    left: auto;
    right: 0px;
    top: 20px;
    @include respond-to(md) {
      right: 30px;
      top: 30px;
    }
}

.info-button {
  background-image: url("../assets/images/info.svg");
  opacity: 0.5;
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 25px;
  left: 25px;
  display: block;
  z-index: 2000;
}
.info-div {
  // opacity:1;
  @extend .font-content;
  color: #393939;
  line-height: 1.5;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  // z-index: 1000;
    width: 100%;
    height: 50vh;
  padding: 28px;
  display: block;
  @include respond-to(md) {
  width: 50%;
  height: 30vh;
  }
}

.info {
  opacity: 0;
  z-index: 0;
  transition: all 0.5s;
  &.info-active {
    opacity: 0.98;
    z-index: 1000;
  }
}
.detail {
  position: fixed;
  opacity: 0;
  z-index: -100;
  transition: all 0.5s;
  &.detail-active {
    opacity: 1;
    z-index: 2000;
  }
}
.close-wrapper-info {
  @extend .close-wrapper;
  position: absolute;
  top: 10px;
  right: 10px;
  left: auto;
}
.close-wrapper-detail {
  @extend .close-wrapper-info;
}

.font-title-detail {
  @extend .font-title;
  margin-bottom: 86px;
  @media (min-width: 567px) and (max-width: 576px) {
    margin-bottom: 40px;
  }
  @include respond-to(sm) {
    margin-bottom: 30px;
  } 
}

.col-xs-landscape {
  @media (min-width: 567px) and (max-width: 576px) {
    max-width: 25%;
  }
}

.font-subtitle-detail {
  @extend .font-subtitle;
  margin-bottom: 30px;
}