<section class="section">
    <div class="katz-container">
        <div class="inner-content">
            <h2 class="font-title hidden-xs-down">Zoning & Code Consultation</h2>
            <div class="text-content">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="font-subtitle">Needs header</h3>
                        <p class="font-content p-content">Katz Architecture brings technical expertise and dedication to manage the often daunting task of meeting the requirements of city, state, and federal agencies.</p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="font-subtitle">Our Services Include:</h3>
                        <ul>
                            <li class="font-content">Code investigation</li>
                            <li class="font-content">Zoning studies</li>
                            <li class="font-content">ADA compliance</li>
                            <li class="font-content">Building Department filings</li>
                            <li class="font-content">Landmarks Preservation Commission approvals</li>
                            <li class="font-content">Existing conditions surveys and reports</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>