<footer class="footer-menu navbar-fixed-bottom">
  
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2 footer-menu-logo">
      <img src="/images/logo.png" alt="Katz Architecture">
    </div>
    <div class="col-sm-4 footer-menu-tagline">
      <ul>
        <p>Katz Architecture & <br>
        Project Management</p>
      </ul>
    </div>
    <nav class="col-sm-6">
      <ul class="pull-right footer-menu-nav">
        <a href="#"><li class="footer-menu-btn">About</li></a>
        <a href="#"><li class="footer-menu-btn">Team</li></a>
        <a href="#"><li class="footer-menu-btn">Contact</li></a>
      </ul>
    </nav>
  </div>
</div>
</footer>