<section class="section">
    <div class="katz-container">
        <div class="inner-content">
            <h2 class="font-title">Renovation & Capital Improvement</h2>
            <div class="text-content">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="font-subtitle">The Return of Design Investment</h3>
                        <p class="font-content p-content">From exclusive coops and condominiums to townhouses and museums, Katz Architecture works closely with property managers and building owners to upgrade their spaces and add value.</p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="font-subtitle">Our Disciplines Include:</h3>
                        <ul>
                            <li class="font-content">Building expansions</li>
                            <li class="font-content">Historic preservation and restoration</li>
                            <li class="font-content">Repair assessment and correction</li>
                            <li class="font-content">Engineering and design coordination</li>
                            <li class="font-content">Project management</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>