{{ define "main" }}

<div class="container-fluid main-screen cover-background">
  <div class="main-screen-inner">
    <div class="main-wrapper cover">
      <div class="container-fluid">
        <p class="cover">
          <input type="checkbox" id="test1" />
          <label for="test1">For Management Companies</label>
        </p>
        <p class="cover">
          <input type="checkbox" id="test2" />
          <label for="test2">For Co-Op Boards & Condo Boards</label>
        </p>
        <p class="cover">
          <input type="checkbox" id="test3" checked="checked" />
          <label for="test3">For Building Managers</label>
        </p>
        <p class="cover">
          <input type="checkbox" id="test4" checked="checked" />
          <label for="test4">For Homeowners</label>
        </p>
        <p class="cover">
            <input type="checkbox" id="test5" checked="checked" />
            <label for="test5">Peace of Mind</label>
        </p>
      </div>
    </div>
  </div>
</div>
{{ end }}
