<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>

    {% include header.html %}
    <section id="wrapper">
      
      <div class="topic topic-cover cover">{% include 1_cover.html %}</div>
      <div class="topic menu">{% include 2_menu.html %}</div>
      
      {% include 3_building-interior.html topic-class="building-interior"  %}
      {% include 4_renovation.html topic-class="renovation" %}
      {% include 5_building-management.html topic-class="building-management" %}
      {% include 6_zoning.html topic-class="zoning" %}

      
      <!--<div class="topic">6</div>
      <div class="topic">7</div>
      <div class="topic">8</div>
      <div class="topic">9</div>
      <div class="topic">10</div>
    -->

    </section>

    <!--{% include footer.html %}-->

    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha256-+kIbbrvS+0dNOjhmQJzmwe/RILR/8lb/+4+PUNVW09k=" crossorigin="anonymous"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/fullpage.min.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/scripts.js"></script>
  </body>
</html>
