{% include utils/slider-imgs.html img-slide="architecture-slide-14" %}
<div class="info-div info">
  <div class="close-wrapper-info">
    <div class="close close-white close-info"></div>
  </div>
  <h2>Long Island City Penthouse Combination</h2>
  <p>New York, NY</p>
	<p>Combination and renovation of two adjacent penthouse apartments.</p>
  <ul>
  	<li>MEP Engineer: Lilker Associates</li>
  	<li>Builder: Coolmore Construction</li>
  	<li>Photography: John Bartlestone</li>
  </ul>
  </p>
</div>
<!--<div class="info-div info">
  <div class="close-wrapper-info">
    <div class="close close-white close-info"></div>
  </div>
  <p>147 West 22nd Street</p>
  <p>New York, NY</p>
  <ul>
  	<li>Building Type: Residential Co-op, 15 units</li>
	<li>Services Provided: Building Architect and Architectural Design Services</li>
  </ul>
  </p>
  <p>10-story 1906 Landmark District loft building converted to co-ops in 1976. Design and construction review services including code and zoning assessment on behalf of the Board to assess proposed building renovation work and potential impact on building infrastructure.</p>
</div>-->