{% include utils/slider-imgs.html img-slide="architecture-slide-7" %}
<div class="info-div info">
  <div class="close-wrapper-info">
    <div class="close close-white close-info"></div>
  </div>
  <p>Gramercy Townhouse</p>
  <p>New York, NY</p>
  <ul>
  	<li>Building Type: Privately owned residential townhouse, 7,000 SF</li>
	<li>Services provided: Full architectural services</li>
  </ul>
  </p>
  <p>Early 19th century 7-story Landmark District townhouse renovated by Frederick Sterner in 1908
  Full gut renovation including new glass-enclosed elevator, new folded steel plate stair, roof top enlargement and cellar expansion. Extensive structural work, new mechanical, electrical, and plumbing throughout, replacement of all windows, restoration and cleaning of façade, rooftop addition and garden.</p>
</div>