{% include utils/slider-imgs.html img-slide="architecture-slide-2" %}
<div class="info-div info">
  <div class="close-wrapper-info">
    <div class="close close-white close-info"></div>
  </div>
  <h2>Carhartt WIP Flagship Store</h2>
  <p>New York, NY</p>
	<p>Gut renovation of Soho Landmark district retail shop.
	In association with Andrea Caputo Architecture.</p>
  <ul>
  	<li>MEP Engineer: Mottola Rini Engineers PC</li>
  	<li>Structural Engineer: FMO Engineering PC</li>
  	<li>Builder: James M Barb Construction Inc.</p></li>
  </ul>
  </p>
</div>
<!--<div class="info-div info">
  <div class="close-wrapper-info">
    <div class="close close-white close-info"></div>
  </div>
  <h2>243 West End Avenue</h2>
  <p>New York, NY</p>
  <ul>
  	<li>Building Type: Residential Co-op, 183 units</li>
  	<li>Services Provided: Building Architect Services</li>
  </ul>
  </p>
  <p>15-story 1925 Landmark District building designed by Emery Roth. Design and construction review services on behalf of the Board to assess proposed Shareholder renovation work for code compliance and impact on building infrastructure.
  </p>
</div>-->
