{% include utils/slider-imgs.html img-slide="architecture-slide-12" %}
<div class="info-div info">
  <div class="close-wrapper-info">
    <div class="close close-white close-info"></div>
  </div>
  <h2>Park Avenue Kitchen</h2>
  <p>New York, NY</p>
	<p>Pre-war gut renovation and expansion.</p>
  <ul>
  	<li>Interior Design: Mario Buatta</li>
  	<li>MEP Engineer: P.A. Collins Consulting Engineers</li>
  	<li>Builder: SilverLining Interiors</li>
  	<li>Photography: John Bartlestone</li>
  </ul>
  </p>
</div>
<!--<div class="info-div info">
  <div class="close-wrapper-info">
    <div class="close close-white close-info"></div>
  </div>
  <p>111 Hick Street</p>
  <p>Brooklyn, NY</p>
  <ul>
  	<li>Building Type: Residential Co-op, 275 units</li>
	<li>Services Provided: Full-service Architectural Design</li>
  </ul>
  </p>
  <p>30-Story 1930 Art Deco Landmark District building designed by Emery Roth as the Hotel St. George. Gut renovation of 1,800 SF lobby built on three levels, new stairs, concierge station, mailroom, upper lobby, new me- chanical system, new lighting and finishes.
   </p>
</div>-->