{% include utils/slider-imgs.html img-slide="architecture-slide-4" %}
<div class="info-div info">
  <div class="close-wrapper-info">
    <div class="close close-white close-info"></div>
  </div>
  <h2>705/711 Greenwich Street</h2>
  <p>New York, NY</p>
  <ul>
  	<li>Name: Urban Zen</li>
  	<li>Building Type: Private Foundation</li>
  	<li>Services Provided: Owners Rep and Architectural Design Services</li>
  </ul>
  </p>
  <p>A 20,000 SF building serving as the Urban Zen headquarters, a foundation headed by Donna Karan.Prior to its present use it served as an artist studio. KA was retained as Owner Representative and Building Architect to address all code and zoning issues associated with the building’s transformation to its present use.
  </p>
</div>