<img src="{{ site.url }}{{ site.baseurl }}/assets/images/carousel/architecture-slide-5.jpg" class="hidden-sm-up img-slider img-fluid">
<img src="{{ site.url }}{{ site.baseurl }}/assets/images/carousel/architecture-slide-5@2x.jpg" class="hidden-xs-down img-slider img-fluid">
<div class="info-div info">
  <div class="close-wrapper-info">
    <div class="close close-white close-info"></div>
  </div>
  <p>Project name</p>
  <p>Info. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit.</p>
</div>