{% include utils/slider-imgs.html img-slide="architecture-slide-6" %}
<div class="info-div info">
  <div class="close-wrapper-info">
    <div class="close close-white close-info"></div>
  </div>
  <p>El Museo Del Barrio</p>
  <p>New York, NY</p>
  <ul>
  	<li>Building Type: Museum</li>
	<li>Services Provided: Full-service Architectural Design and Building Architect Services</li>
  </ul>
  </p>
  <p>El Museo del Barrio is located on museum mile in a pre- war building constructed in 1921. Serving as design architect, KA is spearheading the 5.3 million dollar renovation of its 600 seat theater, El Teatro. Work is to include complete restoration of finishes including historic hand-painted murals on canvas, custom stained glass light fixtures, stage and seating, new freight elevator and orchestra pit elevator and all associated au- dio/visual and acoustic work.</p>
</div>