{% include utils/slider-imgs.html img-slide="architecture-slide-9" %}
<div class="info-div info">
  <div class="close-wrapper-info">
    <div class="close close-white close-info"></div>
  </div>
  <p>52 Thomas Street</p>
  <p>New York, NY</p>
  <ul>
  	<li>Building Type: Residential Condo, 120 units</li>
	<li>Services Provided: Architectural Consulting Services</li>
  </ul>
  </p>
  <p>7-story Landmark District loft building composed of four buildings constructed in 1915 as shoe factories and combined as a Condo in 2006. The project addresses replacement of a deficient building-wide mechanical system and LPC objections regarding visibility of equipment. Code and zoning investigation, construction document production, LPC submission and presentations.</p>
</div>