<section class="section" id="building-properties">
    <div class="katz-container">
        <div class="inner-content">
            <h2 class="font-title hidden-xs-down">Building & Interior Architecture</h2>
            <div class="team-content">
                <div class="row">
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="1" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/architecture/slide-1-thumb.jpg" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="2" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/architecture/slide-2-thumb.jpg" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        Carhartt WIP Flagship Store <br>
                        New York City
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="3" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/architecture/slide-3-thumb.jpg" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="4" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/architecture/slide-4-thumb.jpg" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="5" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/architecture/slide-5-thumb.jpg" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="6" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/architecture/slide-6-thumb.jpg" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="7" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/architecture/slide-7-thumb.jpg" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="8" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/architecture/slide-8-thumb.jpg" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="9" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/architecture/slide-9-thumb.jpg" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="10" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/architecture/slide-10-thumb.jpg" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="11" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/architecture/slide-11-thumb.jpg" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="12" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/architecture/slide-12-thumb.jpg" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="13" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/architecture/slide-13-thumb.jpg" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="14" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/architecture/slide-14-thumb.jpg" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="15" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/architecture/slide-15-thumb.jpg" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="16" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/architecture/slide-16-thumb.jpg" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="17" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/architecture/slide-17-thumb.jpg" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="18" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/architecture/slide-18-thumb.jpg" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>