<section class="section">
    <div class="katz-container">
        <div class="inner-content">
            <h2 class="font-title">Building & Interior Architecture</h2>
            <div class="text-content">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="font-subtitle">A Legacy of Design</h3>
                        <p class="font-content p-content">From hand-drawn sketches to technical drawings, Katz Architecture has over 20 years’ experience helping our clients transform their living space and their commercial space.</p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="font-subtitle">Our Disciplines Include:</h3>
                        <ul>
                            <li class="font-content">Exterior Restoration</li>
                            <li class="font-content">Common space design</li>
                            <li class="font-content">TownHouse renovation</li>
                            <li class="font-content">Apartment renovation & combinations</li>
                            <li class="font-content">Commercial interiors</li>
                            <li class="font-content">Retail shops</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>