{% include utils/slider-imgs.html img-slide="architecture-slide-16" %}
<div class="info-div info">
  <div class="close-wrapper-info">
    <div class="close close-white close-info"></div>
  </div>
  <h2>Reverence Capital Partners</h2>
  <p>New York, NY</p>
	<p>Renovation and new conference room.</p>
  <ul>
  	<li>Interior Design: Teresa Mastropierro</li>
  	<li>Photography: David Joseph Photography</li>
  </ul>
  </p>
</div>
<!--<div class="info-div info">
  <div class="close-wrapper-info">
    <div class="close close-white close-info"></div>
  </div>
  <p>To come Broadway</p>
  <p>Bronx, NY</p>
  <ul>
  	<li>Building Type: Residential Co-op, 111 units</li>
	<li>Services Provided: Building Architect and Architectural Design Services</li>
  </ul>
  </p>
  <p>7-story 1937 Landmark District Art Deco building. Local Law 11 façade repair and restoration, Building Architect review services for proposed Shareholder work and production of 10-year master plan for building repairs and restoration.
  </p>
</div>-->