{% include utils/slider-imgs.html img-slide="architecture-slide-13" %}
<div class="info-div info">
  <div class="close-wrapper-info">
    <div class="close close-white close-info"></div>
  </div>
  <p>4 West 16th Street</p>
  <p>New York, NY</p>
  <ul>
  	<li>Building Type: Residential Co-op, 16 units</li>
	<li>Services Provided: Building Architect and Architectural Design Services</li>
  </ul>
  </p>
  <p>10-story 1902 Landmark District loft building with barrel vaulted ceiling arches and composite steel and terra cotta structure. Building Architect review services for proposed Shareholder work, building master planning for new mechanical systems throughout, sidewalk vault repair and reconstruction.</p>
</div>