<section class="section" id="building-properties">
    <div class="katz-container">
        <div class="inner-content">
            <h2 class="font-title hidden-xs-down">Building & Interior Architecture</h2>
            <div class="team-content">
                <div class="row">
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="1" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/01.png" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="2" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/01.png" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="3" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/01.png" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="4" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/01.png" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="5" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/01.png" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="6" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/01.png" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="7" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/01.png" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
                  <div class="col-3 col-sm-2">
                    <a href="#" data-target="#carousel1" data-slide-to="8" class="js-open-carousel">
                      <img src="{{site.url}}{{site.baseurl}}/assets/images/management-properties/01.png" alt=""
                      class="img-fluid property-image">
                      <div class="detail-tooltip">
                        New York City <br>
                        Property
                      </div>
                    </a>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>